@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
.zero{
    width: 1920px; 
    height: 2688px; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
     display: inline-flex;
}
.un{
    align-self: stretch; 
    height: 88px; 
    padding-left: 370px; 
    padding-right: 370px; 
    padding-top: 24px; 
    padding-bottom: 24px; 
    background: #F6F5F4; 
    box-shadow: 0px -1px 0px #E0E0E0 inset; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    display: flex;
}
.deux{
    left: 248.02px; 
    top: 202.56px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 6.77px; 
    display: inline-flex;
}
.trois {
    align-self: stretch; 
    border-radius: 57.82px; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex;
}
.quatre{
    justify-content: flex-start; 
    align-items: center; 
    gap: 30px; 
    display: flex;
}
.GlobalTalk a{
    color: black; 
    font-size: 20.86px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 20.86px; 
    word-wrap: break-word ;
    text-decoration: none;
    
}
.cinq {
    width: 0px; 
    height: 16.87px; 
    border: 1.20px #E0E0E0 solid;
}
.Home  a{
    color: black; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 22.40px; 
    word-wrap: break-word;
    text-decoration: none;
   }
.six {
    justify-content: flex-start; 
    align-items: center; 
    display: flex;
}  
.Textbook a, .Statistics a, .Games a{
    color: #757575; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 22.40px; 
    word-wrap: break-word;
    text-decoration: none;
   }
.frame{
    width: 14px; 
    height: 14px; 
    position: relative;
}
.sept{
    justify-content: flex-start; 
    align-items: center; 
    gap: 30px; 
    display: flex;
}
.huite {
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: flex;
}

.neuf {
    padding-left: 14px; 
    padding-right: 14px; 
    padding-top: 9px; 
    padding-bottom: 9px; 
    background: #C3DCE3; 
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 14px; 
    display: flex;
}
.A{
    
    text-align: center; 
    color: #2B788B; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    line-height: 22.40px; 
    word-wrap: break-word;
}
.Alex{
    color: #757575; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 22.40px; 
    word-wrap: break-word;

}
.SignOut{
    color: black; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    line-height: 16px; 
    word-wrap: break-word;
}
.dix{
    width: 1920px; 
    height: 940px; 
    position: relative; 
    background: #F6F5F4;
}
.onze {
    width: 1180px; 
    height: 600px; 
    left: 369.95px; 
    top: 0px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: center; 
    align-items: flex-start;
    gap: 90px; 
    display: inline-flex;
}
.douze{
    align-self: stretch; 
    border-radius: 58.53px; 
    justify-content: space-between; 
    align-items: center; display: inline-flex;
}
.treize{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 48.78px; 
    display: inline-flex;
}
.quatorze {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 32px; 
    display: flex;
}
.quinze {
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 24px; 
    display: flex;

}
.E-COURSE{
    color: #2B788B; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    text-transform: uppercase; 
    line-height: 16px; 
    letter-spacing: 2.24px; 
    word-wrap: break-word;
}
.seize{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: flex;
}
.Learning {
    width: 531px; 
    color: black; 
    font-size: 56px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 67.20px; 
    
  }
.Practice {
    width: 396.89px; 
    color: #757575; 
    font-size: 18px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 25.20px; 
    word-wrap: break-word;
}

.dix-sept {
    justify-content: flex-start; 
    align-items: center; 
    gap: 30px; 
    display: inline-flex;
}
.dix-huite{
    padding-left: 22px; 
    padding-right: 22px; 
    padding-top: 14px; 
    padding-bottom: 14px; 
    background: #C3DCE3; 
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 19px; 
    display: flex;
}

.AboutPlatform{ 
    color: #2B788B; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    line-height: 16px; 
    word-wrap: break-word;
}
.dix-neuf{
    justify-content: flex-start; 
    align-items: center; 
    gap: 48.78px; 
    display: inline-flex;
}
.vingt{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 3px; 
    display: inline-flex;
}
.B{
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}
.C{
    width: 24px; 
    height: 30px; 
    position: relative;
}
.D{
    width: 24px; 
    height: 30px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    
}
.Nombre600{
    color: black; 
    font-size: 40px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 40px; 
    word-wrap: break-word;
}
.plus {
    
    color: #2B788B; 
    font-size: 40px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 40px; 
    word-wrap: break-word;
}

.two {
    color: black; 
    font-size: 40px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 40px; 
    word-wrap: break-word;
}
.PopularWords{
    color: #585858; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 22.40px; 
    word-wrap: break-word;
 
}
.E{
    width: 0px; 
    height: 48.78px; 
    border: 1.22px #E0E0E0 solid;   
}
.F{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 3px; 
    display: inline-flex;
}
.J{
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}
.H{
    justify-content: flex-start; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}
.I{
    width: 30px; 
    height: 18px; 
    left: 250.95px; 
    position: absolute;  
    transform-origin: 0 0; 
    
}
.MiniGames{
    color: #585858; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 22.40px; 
    word-wrap: break-word;
}

.G {
    width: 933px; 
    height: 601px; 
    left: 870.05px; 
    top: 109px; 
    position: absolute;
}

.img6{
    width: 143px; 
    height: 171px; 
    left: 15.50px; 
    top: 187px; 
    position: absolute; 
    box-shadow: 14px 14px 14px; 
    filter: blur(5px);
}
.boy{
    width: 608.73px; 
    height: 507.28px; 
    left: 51.77px; 
    top: 0px; 
    position: absolute;
}
.img12{
    width: 536px; 
    height: 571px; 
    left: 396.50px; 
    top: 10px; 
    position: absolute;  
    filter: blur(5px);
}
.K{
    width: 1900px; 
    height: 940px; 
    padding-left: 50px;
    position: relative; 
    background: white;
}
.L{
    width: 700px;
    height: 351.50px; 
    left: 1070px; 
    top: 121.50px; 
    position: absolute; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 40px; 
    display: inline-flex;
}
.Learn{
    width:500px; 
    color: black; 
    font-size: 48px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 48px; 
    word-wrap: break-word;
}
.Make{
    width: 396.89px; 
    color: #757575; 
    font-size: 18px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 25.20px; 
    word-wrap: break-word;
}
.M{
    width: 324.05px; 
    height: 145.50px; 
    position: relative;
}
.N{
    width: 131px; 
    height: 145px; 
    left: 0px; 
    top: 0.50px; 
    position: absolute;
}
.O{
    width: 85px; 
    height: 100px; 
    padding-left: 22px; 
    padding-right: 22px; 
    padding-top: 14px; 
    padding-bottom: 14px; 
    left: 0.95px; 
    top: 33px; 
    position: absolute; 
    background: #F2D4DC; 
    border-radius: 14px; 
    justify-content: center; 
    align-items: flex-end; 
    gap: 19px; 
    display: inline-flex;
}
.Sprint{
    color: #945069; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    line-height: 16px; 
    word-wrap: break-word;
}
.img10{
    width: 131px; 
    height: 106px; 
    left: 0px; 
    top: 0px; 
    position: absolute;
}
.Q{
    width: 172px; 
    height: 145px; 
    left: 152.05px; 
    top: 0px; 
    position: absolute;
}
.R{
    width: 129px; 
    height: 100px;
     padding-left: 22px; 
     padding-right: 22px; 
     padding-top: 14px; 
     padding-bottom: 14px; 
     left: 0px; top: 33px; 
     position: absolute; 
     background: #C3DCE3; 
     border-radius: 14px; 
     justify-content: center; 
     align-items: flex-end; 
    gap: 19px; display: inline-flex;
}
.AudioCall{
    width: 121px; 
    text-align: center; 
    color: #2B788B; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    line-height: 16px; 
    word-wrap: break-word;
}
.img11{
    width: 91px; 
    height: 106px; 
    left: 41px; 
    top: 0px; 
    position: absolute;
}
.girl{
    width: 580px; 
    height: 445px; 
    left: 370px; 
    top: 127.50px; 
    position: absolute;
}
.S{
    padding-top: 40px; 
    padding-left: 500px; 
    padding-right: 370px; 
    background: #F6F5F4; 
    justify-content: flex-end; 
    align-items: center; 
    gap: 10px; 
    display: inline-flex;
}
.T{
   
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 34px; 
    display: inline-flex;
}
.U{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: flex;
}
.Increase{
    width: 474.46px; 
    color: black; 
    font-size: 48px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 48px;
     word-wrap: break-word;
     
}
.Tradional{
    width: 396.89px; 
    color: #757575; font-size: 18px; font-family: Montserrat; font-weight: 600; line-height: 25.20px; 
    word-wrap: break-word;
}
.V{
    padding-left: 22px; 
    padding-right: 22px; 
    padding-top: 14px; 
    padding-bottom: 14px; 
    background: #C3DCE3; 
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 19px; display: inline-flex;
}
.txtbk{
    color: #2B788B; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    line-height: 16px; 
    word-wrap: break-word;
}
.other{
    width: 580px; 
    height: 473.97px;
}
.W{
    padding-top: 95.37px; 
    padding-bottom: 95.37px; 
    padding-left: 370px; 
    padding-right: 375.54px; 
    background: white; 
    justify-content: flex-start; 
    align-items: center; 
    gap: 20px; 
    display: inline-flex;
}
.ppl{
    width: 680px; 
    height: 409.25px;
}
.X{
    
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 34px; 
    display: inline-flex;
}
.Y{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: flex;
}
.Watch{
    width: 474.46px; 
    color: black; 
    font-size: 48px; 
    font-family: Dela Gothic One; 
    font-weight: 400; 
    line-height: 48px; 
    word-wrap: break-word;
}
.Save{
    width: 396.89px; 
    color: #757575; 
    font-size: 18px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 25.20px; 
    word-wrap: break-word;
}
.Z{
    padding-left: 22px; 
    padding-right: 22px; 
    padding-top: 14px; 
    padding-bottom: 14px; 
    background: #C3DCE3; 
    border-radius: 100px; 
    justify-content: center; 
    align-items: center; 
    gap: 19px; 
    display: inline-flex;
}
.Statistic{
    color: #2B788B; 
    font-size: 16px; 
    font-family: Montserrat; 
    font-weight: 700; 
    line-height: 16px; 
    word-wrap: break-word;
}
.b{
    align-self: stretch; 
    height: 160px; 
    padding-left: 370px; 
    padding-right: 370px; 
    padding-top: 40px; 
    padding-bottom: 40px; 
    background: #F6F5F4; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 10px; 
    display: flex;
}
.c{
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start;
     gap: 20px; 
    display: flex;
}
.d{
    align-self: stretch; 
    justify-content: space-between; 
    align-items: flex-start; 
    display: inline-flex;
}
.e{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: flex;
}
.same{
    color: #757575; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 14px; 
    word-wrap: break-word;
}
.f{
    justify-content: flex-start; 
    align-items: flex-start; 
    gap: 30px; 
    display: flex;
}
.name{
    color: #757575; 
    font-size: 14px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 14px; 
    word-wrap: break-word;
}
.i{
    align-self: stretch; 
    transform: rotate(-90deg); 
    transform-origin: 0 0; 
    border: 0px #E0E0E0 solid;
}
.g{
    width: 1180px; 
    height: 26px; 
    justify-content: space-between; 
    align-items: center; 
    display: inline-flex;
}
.h{
    justify-content: flex-start; 
    align-items: center; 
    gap: 30px; 
    display: flex;
}
.k{
    width: 30px; 
    height: 24px; 
    position: relative;
}
.l{
    width: 24.81px; 
    height: 19.87px; 
    left: 2.59px;
     top: 2.06px; 
     position: absolute; 
    
}
.m{
    width: 30px; 
    height: 24px; 
    position: relative;
}
.n{
    width: 27.90px; 
    height: 18.73px; 
    left: 1.05px; 
    top: 2.63px; 
    position: absolute; 
    
}
.o{
    width: 30px; 
    height: 24px; 
    position: relative;
}
.p{
    width: 25.10px; 
    height: 17.57px; 
    left: 2.45px; 
    top: 3.21px; 
    position: absolute; 
}
.global{
    color: #757575; 
    font-size: 12px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 12px; 
    word-wrap: break-word;
}
.globallink a{
    color: #757575; 
    font-size: 12px; 
    font-family: Montserrat; 
    font-weight: 600; 
    text-decoration: underline; 
    line-height: 12px; 
    word-wrap: break-word;
}
.fin{
    color: #757575; 
    font-size: 12px; 
    font-family: Montserrat; 
    font-weight: 600; 
    line-height: 12px; 
    word-wrap: break-word;
}
