@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
  
.E-COURSE{
color: #2B788B;
 font-size: 12px;
 font-family: Montserrat;
 font-weight: 700;
 text-transform: uppercase;
 line-height: 12px;
 letter-spacing: 1.68px;
 word-wrap: break-word;

 align-self: stretch; 
 text-align: center; 


}
.Learning 
{color: black;
 font-size: 32px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 32px;
 word-wrap: break-word;
 align-self: stretch; 
 text-align: center; 
}

.Practice
{
 color: #757575;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 19.60px;
 word-wrap: break-word;
 align-self: stretch; 
 text-align: center; 
}

.About 
{
color: #2B788B;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 700;
 line-height: 14px;
 word-wrap: break-word;

}
.six-cent
{
color: black;
 font-size: 20px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 20px;
 word-wrap: break-word;
}
.Add{
    width: 30px; 
    height: 10px; 
    position: relative;
}
.Vector{
    width: 5px;
    height: 2px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    
}
.Plus
{
 color: #2B788B;
 font-size: 20px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 20px;
 word-wrap: break-word;
}
.Popular
{
color: #585858;
 font-size: 12px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 16.80px;
 word-wrap: break-word;

}
.Two
{
color: black;
 font-size: 20px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 20px;
 word-wrap: break-word;
}
.Mini-games
{color: #585858;
 font-size: 12px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 16.80px;
 word-wrap: break-word;
}
.globaltalk-com
{
color: black;
 font-size: 16px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 10px;
 word-wrap: break-word;
 text-align: center; 
}
.A{
 color: black;
 font-size: 11px;
 font-family: Alef;
 font-weight: 400;
 line-height: 10px;
 word-wrap: break-word;
 
}
.a
{
 color: black;
 font-size: 15px;
 font-family: Alef;
 font-weight: 400;
 line-height: 10px;
 word-wrap: break-word;
}
.GlobalTalk 
{
 color: black;
 font-size: 16px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 16px;
 word-wrap: break-word;
 width: 122.98px; 
 text-align: right; 
}
.AMaj
{
 color: #2B788B;
 font-size: 12px;
 font-family: Montserrat;
 font-weight: 700;
 line-height: 16.80px;
 word-wrap: break-word;
 text-align: center; 
}
.Alex{
color: #757575;
 font-size: 12px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 16.80px;
 word-wrap: break-word;
  
}
.Learn {
color: black;
 font-size: 24px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
 align-self: stretch; 
 text-align: center;
}
.Make 
{ 
color: #757575;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 19.60px;
 word-wrap: break-word;
 align-self: stretch; 
 text-align: center; 
}
.Sprint {
color: #945069;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 700;
 line-height: 14px;
 word-wrap: break-word;
 
}
.Audio-call {
 color: #2B788B;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 700;
 line-height: 14px;
 word-wrap: break-word;
 
}
.Increase {
color: black;
 font-size: 24px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
 align-self: stretch; 
 text-align: center;    
}
.Traditional{ 
color: #757575;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 19.60px;
 word-wrap: break-word;
 width: 306.95px; 
 text-align: center; 
 }
.Textbook {
color: #2B788B;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 700;
 line-height: 14px;
 word-wrap: break-word;

}
.Watch {
color: black;
 font-size: 24px;
 font-family: Dela Gothic One;
 font-weight: 400;
 line-height: 24px;
 word-wrap: break-word;
 align-self: stretch; 
 text-align: center;  
}
.Save {
color: #757575;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 19.60px;
 word-wrap: break-word;
 align-self: stretch;
  text-align: center; 
}
.Statistics {
color: #2B788B;
 font-size: 14px;
 font-family: Montserrat;
 font-weight: 700;
 line-height: 14px;
 word-wrap: break-word;
  
}
.Styles
{
 color: #757575;
 font-size: 12px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 12px;
 word-wrap: break-word;
}
.guys
{
color: #757575;
 font-size: 12px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 12px;
 word-wrap: break-word;
}

.Project 
{
color: #757575;
 font-size: 10px;
 font-family: Montserrat;
 font-weight: 600;
 line-height: 10px;
 word-wrap: break-word;
 
}
.GlobalTalkLink
{
color: #757575;
 font-size: 10px;
 font-family: Montserrat;
 font-weight: 600;
 text-decoration: underline;
 line-height: 10px;
 word-wrap: break-word;
}